body {
  background: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 44px;
  text-align: center;
  color: aliceblue;
}
.description {
  transition: 5s ease-in-out;
}
